
.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    background-size: cover; /* Adiciona isso para a imagem de fundo cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    background-size: 600% 200%;
    background-image: linear-gradient(to right, var(--1), var(--2));
    animation: animatedBackground 3s infinite alternate;
}

@keyframes animatedBackground {
    0% {
        background-position-x: 0%;
    }100% {
        background-position-x: 100%;
    }
}